* {
  box-sizing: border-box;
}




body {
background: grey;
margin:auto;
margin-top: 10%;


}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

button {
  color: black;
  background-color: white;
  font-size: 1px;
  padding: 2px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: silver;
  border:2px solid white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: mediumseagreen;
}

input:focus + .slider {
  box-shadow: 0 0 2px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}



    <!-- for styling -->
    <style>
        table {
            border: 1px solid black;
            margin-left: auto;
            margin-right: auto;
        }

        input[type="button"] {
          margin-top: 0%;
            width:30%;
            padding: 20px 20px;
            background-color: mediumpurple;
            color: white;
            font-size: 25px;
            font-weight: bold;

            border-radius: 5px;
        }

  .button {
    display: none;
  }
p {
  background-color:royalblue;
  width:7%;
  color:white;

  width: 29.5%;
  font-size: 20px;

}



        input {
          display: inline;
        }

        input:hover {
          color:white;
          background-color: mediumgrey
        }



        .toggle {
          position: relative;
        }

        .toggle input {
          position: absolute;
          opacity: 0;
          width: 0;
          height: 0;
        }

        .toggle .onoff {
          color: mediumgrey;
          font-size: 15px;
          text-align: center;
          display: block;
          font-family: Arial, Helvetica, sans-serif;
        }
        .toggle .btnSearch {
          color: #fff;
          font-size: 15px;
          text-align: center;
          display: none;
          font-family: Arial, Helvetica, sans-serif;
        }

        .slider {
          position: relative;
          display: block;
          cursor: pointer;
          background-color: red;
          transition: 0.4s;
          width: 70px;
          height: 33px;
        }

        .slider:before {
          content: "";

button  {
  color:red;
}

p:hover {
  color:pink;
  background-color: white;
  border:2px solid pink;
  width:25%;
  padding: 10px 10px;
}

p {
  color:black;
  background-color: white;
  border:2px solid pink;
  width:28%;
  padding: 10px 10px;
}
#button:active {
    vertical-align: top;
    padding: 8px 13px 6px;
}
        input[type="text"] {
            padding: 20px 30px;
            font-size: 34px;
            font-weight: bold;
            border: none;
            color:red;

            border-radius: 5px;
            border: 2px solid black;
        }

        .onoff
{
  width:32px;
  height:32px;
  padding:1px 2px 3px 3px;
  font-size:12px;
  background:red;

  text-align:center;
}
.onoff div
{
  width:18px;
  height:18px;
  min-height:18px;
  background:green;
  overflow:hidden;

  margin:0 auto;

}



    </style>
