* {
  box-sizing: border-box;
}

body {

margin:100%;



}

ro
.footers {
  width:100%;
  background-color: black;
  color:white;

}

.w3-container {
  background-color: white;

}

/* Container holding the image and the text */
.container {
  position:  relative;
  text-align: center;
  color: black;



}



a {
  background-color: red;
}
*, *::before, *::after {
  box-sizing: border-box;
}


.wrapper {
  display: grid;
  gap: 15px;
  width: 50%;

  max-width: calc(100vw - 40px);
  padding: 10px;
  border-radius: 10px;
  background-color: tomato;
  font-size: 20px;
  text-align: center;
  color:white;
  font-size: 20px;
    border:2px solid black;
}

#text {
  display: block;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-family: 15px;
  resize: vertical;
  color:black;
  border: 2px solid black;
}

#output {
  color:white;
    border:2px solid black;
}
.properties {
  display: grid;
  grid-template-columns: max-content minmax(0, auto) 40px;
  gap: 15px;
  padding: 20px;
  background-color: royalblue;
  font-size: 20px;
  width: 100%;
  border-radius: 10px;
    border:2px solid white;


}

#voice {
  font-size: 15px;
  color:black;
  width:100%;
  border-radius: 10px;

}

#speak {
  padding: 10px;
  border: 2px solid white;

  background-color: royalblue;
  font-size: 15px;
  cursor: pointer;
  appearance: none;
  text-align: center;
  width:100%;
}



a {
  background-color: black;
  color:white;
  width:100%;
  font-size:15px
}

.footer1 {
  background-color: tomato;
  color:white;
  width:100%;
  font-size:15px;
  margin-top:5.8%;
  height: 15%;
  border-radius: 10px;

}




body {

  background-color: white;
  color: blue;
  font-size: 15px;
}




/* Container holding the image and the text */
.container {
  position:  relative;
  text-align: center;
  color: white;



}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#chatContainer {
  width: 500px;
  height: 500px;
  background-color: #ddd;
  padding: 10px;
  box-sizing: border-box;
}

#chatlogs {
  height: 400px;
  overflow: auto;
}

.chatlog {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
  display: inline-block;
}

.response {
  float: right;
  background-color: #0084ff;
  color: #fff;
}

.request {
  float: left;
}

#inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

#chatInput {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ddd;
}

#sendBtn {
  padding: 10px 20px;
  background-color: #0084ff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  cursor: pointer;
}


button {
  color: white;
  background-color: tomato;
  font-size: 20px;
  padding: 10px;
  width:50%;
  border-radius: 10px;

}

{box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


button:hover {
  color: ghostwhite;
  background-color: coral;
  font-size: 20px;
  padding: 10px;
  width:50%;
  border-radius: 10px;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: silver;
  border:2px solid white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 9px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: tomato;
}

input:focus + .slider {
  box-shadow: 0 0 2px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}


<style>
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 15px;
}

.dark-mode {
  background-color: black;
  color: white;
  border-radius: 10px;
    border:2px solid black;
}
</style>


    <!-- for styling -->
    <style>
        table {
            border: 1px solid black;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
        }

        input[type="button"] {
          margin-top: 0%;
            width:50%;
            padding: 10px;
            background-color: tomato;
            color: white;
            font-size: 20px;
            text-align: center;
            font-weight: bold;

            border-radius: 10px;
              border:2px solid black;
        }

        input:hover[type="button"] {
          margin-top: 0%;
            width:50%;
            padding: 10px;
            background-color: coral;
            color: white;
            font-size: 20px;
            text-align: center;
            border:2px solid black;
            font-weight: bold;
            border-radius: 10px;


          border-radius: 10px;
        }

p {
  background-color:royalblue;
  width:50%;
  color:white;
  width: 50%;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
    border:2px solid white;

}


#message::after {
  padding-top:10px;
  border-radius: 10px;
    border:2px solid black;


}

#message:default {
  padding-top:10px;
    border:2px solid black;
    border-radius: 10px;

}

         {
          display: inline;
        }

        input:hover {
          color:black;
          background-color: lightsalmon;
            border:2px solid black;
        }



        .toggle {
          position: relative;
        }

        .toggle input {
          position: absolute;
          opacity: 0;
          width: 0;
          height: 0;
        }

        .toggle .onoff {
          color: mediumgrey;
          font-size: 15px;
          text-align: center;
          display: block;
          font-family: Arial, Helvetica, sans-serif;
        }
        .toggle .btnSearch {
          color: #fff;
          font-size: 15px;
          text-align: center;
          display: none;
          font-family: Arial, Helvetica, sans-serif;
        }

        .slider {
          position: relative;
          display: block;
          cursor: pointer;
          background-color: royalblue;;
          transition: 0.4s;
          width: 70px;
          height: 33px;
        }

        .slider:before {
          content: "";



p:hover {
  color:pink;
  background-color: white;
  border:2px solid pink;
  width:25%;
  padding: 10px 10px;
}

p {
  color:black;
  background-color: white;
  border:2px solid pink;
  width:28%;
  padding: 10px 10px;
}
#button:active {
    vertical-align: top;
    padding: 8px 13px 6px;
}
        input[type="text"] {
            padding: 20px 30px;
            font-size: 15px;
            font-weight: bold;
            border: none;
            color:black;

            border-radius: 10px;
            border: 2px solid black;
        }
        footer {
          background-color: red;
          width:100%;
          padding: 5px;
          position: absolute;
          text-align: center;
          display: block;
          margin-top: 10%:
        }
        .onoff
{
  width:32px;
  height:32px;
  padding:1px 2px 3px 3px;
  font-size:12px;
  background:red;

  text-align:center;
}
.onoff div
{
  width:18px;
  height:18px;
  min-height:18px;
  background:orange;
  overflow:hidden;

  margin:0 auto;

}

a:hover {
  color:black
}

.header2 {


  animation-name: slidein;
  animation-duration:10s;
  animation-iteration-count:infinite;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation: leaves 5s ease-in-out infinite alternate;
       -webkit-animation: leaves 5s ease-in-out infinite alternate;
}
@keyframes slidein {
  from {
    transform: scale(1.0);
            -webkit-transform: scale(1.0);
  }

  to {

  }
}



    </style>
